#page-content {
  background-color: maroon;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.footer {
  margin-top: auto;
}

h1, h2, h3, h5, h6 {
  text-shadow: 2px 2px 2px black
}

h1 {
  font-size: 3.5rem;
}
hr {
  border-color: goldenrod;
  border-width: 2px;
}



